# нужен для скрытия файлов и папок от системы контроля версий Git. Обычно скрывают конфигурационные файлы (особенно с паролями), временные файли и папки
# Cruft
*~
*#
.#*
.DS_Store

# Test
coverage
.eslintcache

# Logs
*.log

# npm & yarn
node_modules/
.npm
.yarn-integrity
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock*
package-lock.json
/public
# Editor/IDE
.idea
packages/api/etc/
# Hosting
.firebase
